img{
display:block;
margin:auto;
border: 15px solid #B3B6B7 ;

}

ol{
  font: oblique bold 120% cursive;
}

h1{
  width: auto;
    font: oblique bold 220% cursive;
}
p, h2, h4{
  font: oblique bold 120% cursive;
}

#navegacion{
  
  font: oblique bold 120% cursive;
}

#main-header {
  font: oblique bold 120% cursive;
  background: #333;
  color: white;
  height: 100px;
  width: 100%; 
  left: 0;
  position: fixed;
   top: 0;

  
} 
  #main-header a {
    color: white;
  }

/*
 * Logo
 */
#logo-header {
  float: left;
  padding: 25px 0 0 30px;
  text-decoration: none;
}
  #logo-header:hover {
    color: #0b76a6;
  }
  
  #logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
  }
  
  #logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
  }
  

/*
 * Navegación
 */
nav {

  float: right;
}
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
  }
  
    nav ul li {
      display: inline-block;
      line-height: 80px;
    }
      
      nav ul li a {
        display: block;
        padding: 0 10px;
        text-decoration: none;
      }
      
        nav ul li a:hover {
          background: #0b76a6;
        }